* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Secular One', sans-serif;
}
html {
  scroll-behavior: smooth;
}
#main, nav a {
	color: white !important;
}
/*nav*/
nav {
	/*display: flex !important;*/
	/*align-items: center;*/
	background-color: #2d4059;
}

.nav-btn{
	text-decoration: none;
	margin: 0 0.5rem;
}

/*main*/
#main {
	background-color: #ea5455;
	display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 0;
}
.emoji-container {
    background: #e5e5e5;
    border-radius: 50%;
    border: 5px solid #2d4059;
    width: 350px;
}
#star-line {
	font-size: 2rem;
	margin-bottom: 1rem;
}
@media screen and (min-width: 600px) {
	#name {
		font-size: 4rem;
	}
}
/*portfolio*/
#portfolio {
	background-color: #e5e5e5;
	padding: 4rem 0;
	color: #2d4059;
	/*display: flex;*/
    /*justify-content: center;*/
}
.card {
	padding: 0 !important;
	cursor: pointer;
}
/*contact*/
#contact {
	color: #2d4059;
	padding: 4rem 0;
}
/*footer*/
footer {
	background-color: #ea5455;
}